<!doctype html>
<html lang="en">

<head>
	<title>PDF Crop</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<style>
		#body::-webkit-scrollbar {
			width: 0px
		}

		.loader {
			display: flex;
		}

		.tol-bar {
			display: flex;
			justify-content: space-around;
			align-items: center;
			padding: 10px 0px;
			background-color: #f8f8f8;
		}
	</style>
</head>

<body id="body">
	<div class="loader align-items-center justify-content-center position-absolute h-100 w-100 bg-white"
		style="z-index: 1; ">
		<div class="loaderWrapper d-flex align-items-center justify-content-center flex-column">
			<div class="spinner-border text-primary mb-2"></div>
			<span>Loading...</span>
		</div>
	</div>
	<div class="wrapper">
		<div id='testdiv' style='height: 1in; left: -100%; position: absolute; top: -100%; width: 1in;'></div>
		<div class="tol-bar text-center">
			<div class="left">
				<button type="button" class="btn btn-success" id="crop"> Crop PDF</button>
				<button type="button" class="btn btn-danger ml-2" id="saveCrop"> Save Changes & Train</button>
			</div>
			<div class="center d-flex align-items-center">
				<button type="button" id="prev-page" class="btn btn-primary">
					Prev
				</button>
				<div class="page-info ml-2 mr-2">
					Page
					<span id="page-num"></span>
					of
					<span id="page-count"></span>
				</div>
				<button type="button" id="next-page" class="btn btn-primary">
					Next
				</button>
			</div>
			<div class="right">
				<button type="button" class="btn btn-danger" onclick="location.reload(0)"> Clear </button>
			</div>
		</div>
		<canvas id="pdf-render">

		</canvas>

	</div>

	<script src="https://code.jquery.com/jquery-3.6.0.min.js"
		integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
	</script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
	</script>
	<script src="https://mozilla.github.io/pdf.js/build/pdf.js"></script>
	<script type="text/javascript">
		$(function () {
			if ("<%=trainMode%>" == "true") {
				$("#saveCrop").show();
			} else {
				$("#saveCrop").hide();
			}
		})

		const url = "<%=fileName%>";

		let pdfDoc = null,
			pageNum = 1,
			pageIsRendering = false,
			pageNumIsPending = null;

		var clickCount = 0;
		var firstClickCoords = new Object;
		var secondClickCoords = new Object;

		var pdfPageWidth;
		var pdfPageHeight;
		var viewportWidth;
		var viewportHeight;

		const scale = 1,
			canvas = document.querySelector('#pdf-render'),
			ctx = canvas.getContext('2d');

		// Render the page
		const renderPage = num => {
			pageIsRendering = true;

			// Get page
			pdfDoc.getPage(num).then(page => {

				pdfPageWidth = page.view[2];
				pdfPageHeight = page.view[3];


				canvas.width = document.body.clientWidth;
				let scale = (canvas.width / page.view[2]);
				let viewport = page.getViewport({
					scale: scale
				});
				canvas.height = page.view[3] * scale;

				viewportWidth = canvas.width;
				viewportHeight = canvas.height;

				const renderCtx = {
					canvasContext: ctx,
					viewport
				};

				page.render(renderCtx).promise.then(() => {
					$(".loader").hide()
					if (clickCount >= 2) {
						console.log(firstClickCoords.x, firstClickCoords.y, secondClickCoords
							.x -
							firstClickCoords.x, secondClickCoords.y - firstClickCoords.y)
						ctx.strokeRect(firstClickCoords.x, firstClickCoords.y,
							secondClickCoords.x -
							firstClickCoords.x, secondClickCoords.y - firstClickCoords.y);
					}
					pageIsRendering = false;

					if (pageNumIsPending !== null) {
						renderPage(pageNumIsPending);
						pageNumIsPending = null;
					}
				});

				// Output current page
				document.querySelector('#page-num').textContent = num;
			});
		};

		// Check for pages rendering
		const queueRenderPage = num => {
			if (pageIsRendering) {
				pageNumIsPending = num;
			} else {
				renderPage(num);
			}
		};

		// Show Prev Page
		const showPrevPage = () => {
			if (pageNum <= 1) {
				return;
			}
			$(".loader").show()
			pageNum--;
			queueRenderPage(pageNum);
		};

		// Show Next Page
		const showNextPage = () => {
			if (pageNum >= pdfDoc.numPages) {
				return;
			}
			$(".loader").show()
			pageNum++;
			queueRenderPage(pageNum);
		};

		// Get Document
		pdfjsLib
			.getDocument(url)
			.promise.then(pdfDoc_ => {
				pdfDoc = pdfDoc_;

				document.querySelector('#page-count').textContent = pdfDoc.numPages;

				renderPage(pageNum);
			})
			.catch(err => {
				// Display error
				const div = document.createElement('div');
				div.className = 'error';
				div.appendChild(document.createTextNode(err.message));
				document.querySelector('body').insertBefore(div, canvas);
				// Remove top bar
				document.querySelector('.top-bar').style.display = 'none';
			});

		// Button Events
		document.querySelector('#prev-page').addEventListener('click', showPrevPage);
		document.querySelector('#next-page').addEventListener('click', showNextPage);



		function getCursorPosition(canvas, event) {
			const rect = canvas.getBoundingClientRect()
			const x = event.clientX - rect.left
			const y = event.clientY - rect.top
			if (clickCount == 1) {
				firstClickCoords.x = x;
				firstClickCoords.y = y;
			}
			if (clickCount == 2) {
				secondClickCoords.x = x;
				secondClickCoords.y = y;
				ctx.strokeRect(firstClickCoords.x, firstClickCoords.y, secondClickCoords.x - firstClickCoords.x,
					secondClickCoords.y - firstClickCoords.y);
			}
		}
		document.querySelector("#body").onkeydown = function (e) {
			var key = e.keyCode || e.charCode;
			if (key == 46) {
				location.reload();
			}
		};

		canvas.addEventListener('click', function (e) {
			clickCount++
			getCursorPosition(canvas, e)
		});

		canvas.addEventListener('dblclick', function (e) {
			location.reload()
		});

		$("#crop").click(function () {
			var firstX = (firstClickCoords.x / viewportWidth) * 100;
			var secondX = (secondClickCoords.x / viewportWidth) * 100;
			var firstY = (firstClickCoords.y / viewportHeight) * 100;
			var secondY = (secondClickCoords.y / viewportHeight) * 100;

			var newFirstX = percentage(pdfPageWidth, firstX);
			var newFirstY = percentage(pdfPageHeight, firstY);
			var newSecondX = pdfPageWidth - percentage(pdfPageWidth, secondX);

			var newSecondY = pdfPageHeight - percentage(pdfPageHeight, secondY);

			var dpi = document.getElementById('testdiv').offsetWidth;

			var firstPtX = newFirstX;
			var firstPtY = newFirstY;
			var secondPtX = newSecondX;
			var secondPtY = newSecondY;

			console.log("pdfPageWidth: ", pdfPageWidth);
			console.log("pdfPageHeight: ", pdfPageHeight);

			console.log(`${-firstPtX} ${-firstPtY} ${-secondPtX} ${-secondPtY}`)
			$(".loader").show()
			$.ajax({
				type: "POST",
				url: "<%=baseURL%>" + '/api/cropPdf',
				data: {
					points: `${-firstPtX} ${-firstPtY} ${-secondPtX} ${-secondPtY}`,
					input: decodeURIComponent("<%=fileName%>")
				},
				dataType: "json",
				timeout: 600000,
				success: function (response) {
					if (response.title == "success") {
						$(".loader").hide()
						location.href = "<%=baseURL%>" + "/editor?pdf=" + response.croppedFile.replace(
							"public", "") + "&trainMode=true";
					} else {
						$(".loader").hide()
						alert("Something went wrong!");
					}
				}
			});
		})


		$("#saveCrop").click(function () {
			$(".loader").show()
			$.get('/' + decodeURIComponent("<%=fileName%>"), function(data) {
				var file = new File([data], "uploadPdf.pdf", { type: "application/pdf", lastModified: Date.now()});

				var form_data = new FormData();
				form_data.append('file', file);
				form_data.append('file_name', file.name);
				var filePath = decodeURIComponent("<%=fileName%>");
				var modelName = filePath.split("/")[1]
				form_data.append('model_name', modelName);
				console.log("<%=apiURL%>" + "/train")
				$.ajax({
					type: "POST",
					enctype: 'multipart/form-data',
					url: "<%=apiURL%>" + "/train",
					data: form_data,
					processData: false,
					contentType: false,
					cache: false,
					timeout: 600000,
					headers : { model_name : modelName },
					success: function (data, xhr, status, textStatus) {
						if(data.title == "success"){
							location.href = "<%=baseURL%>" + "/predict"
						}else{
							alert(data.message);
						}
						$(".loader").hide()
					},
					error: function () {
						$(".loader").hide()
						alert("Something went wrong!");
					}
				});


			});
		})

		function percentage(num, per) {
			return (num / 100) * per;
		}
	</script>
</body>

</html>