<!doctype html>
<html lang="en">

<head>
    <title>PDF Crop</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/plugins/tagsinput.css">
    <style>
        .bootstrap-tagsinput .badge {
            margin: 2px 2px !important;
        }
    </style>
</head>

<body id="body">
    <div class="loader d-flex align-items-center justify-content-center position-absolute h-100 w-100 bg-white"
        style="z-index: 1; display: none !important;">
        <div class="loaderWrapper d-flex align-items-center justify-content-center flex-column">
            <div class="spinner-border text-primary mb-2"></div>
            <span>Loading...</span>
        </div>
    </div>
    <div class="wrapper">
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 offset-lg-3 mt-4">
                        <div class="card">
                            <form id="getComponentForm">
                                <div class="card-header bg-primary">
                                    <h4 class="text-center text-white">
                                        Get Components Count
                                    </h4>
                                </div>
                                <div class="card-body">
                                    <div class="form-group">
                                        <label for="modelName">Enter Model Name</label>
                                        <input type="text" name="modelName" id="modelName" class="form-control"
                                            placeholder="Enter model name" aria-describedby="helpId" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="components">Enter Component Names</label>
                                        <input type="text" name="components" id="components" class="form-control"
                                            placeholder="Enter components" aria-describedby="helpId"
                                            data-role="tagsinput" required>
                                    </div>

                                </div>
                                <div class="card-footer">
                                    <div class="row">
                                        <div class="col-12 text-center">
                                            <button type="button" class="btn btn-primary" id="predict">Predict</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
    <script src="/plugins/tagsinput.js"></script>
    <script type="text/javascript">
        $("#predict").click(function () {

            if ($("#modelName").val() == "") {
                alert("Model name cannot be empty!")
                $("#modelName").focus()
                $("#modelName").addClass("is-invalid")
                return false;
            } else if ($("#components").val() == "") {
                alert("Components cannot be empty!")
                $("#components").addClass("is-invalid")
                return false;
            }
            
            $("#modelName").removeClass("is-invalid");
            $("#components").removeClass("is-invalid");

            $(".loader").show();

            var obj = new Object();
            obj.model_name = $("#modelName").val();
            obj.component_names = $("#components").tagsinput('items');
            
            $.ajax({
                type: "POST",
                url: "<%=apiURL%>/api/predict",
                data: JSON.stringify(obj),
                dataType: "json",
                timeout: 600000,
                success: function (response) {
                    if (response.title == "success") {
                        location.href = response.csv_url;
                    } else {
                        alert(response.message);
                    }
                    $(".loader").hide()
                }
            });
        })
    </script>
</body>

</html>